<p>Hola! {{saludo}} como estas?</p>
<p>{{"longitud del nombre "+saludo+" tiene "+saludo.length}} </p>
<p>{{"el nombre "+saludo+" en mayusculas "+saludo.toUpperCase()}}</p>
<h2>{{"la funcion ejecutada retorna: "+greetUser()}}</h2>

<input type="text" id="{{myId}}" value="{{saludo}}" bind-disabled="isDisabled">

<button (click)="onClick($event)">Greet</button>
{{presionado}}

<br/>
<h2>inserta algun mensaje</h2>
<input type='text' [(ngModel)]="mensaje">{{mensaje}}

<!-- SECCION NG IF -->
<br/>
<h2>Presiona para ocultar/mostrar un elemento</h2>
<button (click)="presionar($event)">presiona para {{accion}}</button>
<div *ngIf="mostrar; then thenBlock; else elseBlock">
</div>
<ng-template #thenBlock>
    <strong>El elemento que se muestra</strong>
</ng-template>
<ng-template #elseBlock>
    <strong>El elemento que se debe ocultar</strong>
</ng-template>


<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">seleccionaste el RED</div>
    <div *ngSwitchCase="'blue'">seleccionaste el BLUE</div>
    <div *ngSwitchCase="'green'">seleccionaste el GREEN</div>
    <div *ngSwitchCase="'green'">selecciona un color</div>
</div>


<ul *ngFor="let elem of elems; index as i">
    <li>{{i}} {{elem}}</li>
</ul>